.input {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  padding: 5px 10px;
}
.input-wrapper {
  text-align: center;
  display: inline-block;
  margin: 20px auto;
  margin-left: 40px;
}

.header {
  text-align: center;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flag-img {
  width: 380px;
}
.card-label {
  margin-right: 50px;
}

div.warning-msg {
  text-align: center;
  padding: 15px 10px;
  display: inline-block;
  width: 300px;
  height: 70px;
  background: repeating-linear-gradient(
    43deg,
    rgba(245, 137, 166, 0.5),
    rgba(245, 137, 166, 0.5) 17px,
    rgba(230, 96, 96, 0.5) 17px,
    rgba(230, 96, 96, 0.5) 25px
  );

  color: black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.3;
}
