.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  @media screen and(min-width:480px) {
    width: 480px;
  }
  @media screen and(min-width:768px) {
    width: 768px;
  }
}
.container.warning {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body {
  background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
  background-size: $dot-space $dot-space;
}
p,
h1,
h2,
span,
ul {
  color: aliceblue;
}
